* {
    margin: 0px;
    padding: 0px;
}


body {
    box-sizing: border-box;
}

.futura {
    font-family: Futura PT, sans-serif;
}

.lovelace {
    font-family: Lovelace;
}

.main-color {
    color: #43464d;
}
.btn-color {
    background-color:#DDE8F6;
}
.second-color {
    color:#FFFFFF;
}
.bckg-color {
   background-color:#EEEEEE;
}



/* menu */

.navbar {
    padding: 0;
}
.bar {
    height: 60px;
}
.sub-menu {
    display: none;
}
.dropdown_menu li a {
    text-decoration: none;
    color:#43464d;
    font-family: Futura PT, sans-serif; 
    font-size:medium
}
.dropdown_menu li {
    list-style: none;
    padding-top: 20px;
    padding-right: 20px;
}
.dropdown_menu {
    height: 570px;  
}
.drop-menu:hover .sub-menu {
    display: block;
    position: absolute;
    background-color: white;
    color: #474A51; 
}
.sub-menu-2 {
    display: none;
}
.drop-menu-2:hover .sub-menu-2 {
    display: block;
    position: absolute;
    background-color: white;
    color: #474A51;
}
.dropdown_menu-2 li a {
    text-decoration: none;
    color:#43464d;
    font-family: Futura PT, sans-serif; 
    font-size: medium;
}
.dropdown_menu-2 {
    height: 165px;
}
.dropdown_menu-2 li {
    list-style: none;
    padding-top: 20px;
    padding-right: 20px;
}

.bar {
    background-color: white;
}

/* main */
.main-section {
    background-image: url("../images/IMG_2584 1.png");
    background-size:cover;
    background-position: center;
    height: 800px;
}

.main-title {
    padding-top: 400px;
    font-size: 60px;
}

.btn-main {
  display: block;
  max-width: 150px;
  margin: 0 auto;
  border-radius: 0px;
  margin-top: 50px;
}
.btn-main:hover {
    background-color: #DDE8F6;
}

.novinki-item {
    background-image: url(../images/IMG_2082\ 1\ \(1\).png);
    background-size:cover;
    height: 700px;


}
.sale-item {
    background-image: url(../images/распродажа.png);
    background-size:cover;

}

.novinki {
    padding-top: 300px;
}

.sale {
    padding-top: 300px;
}

.btn-novinki {
    display: block;
  max-width: 150px;
  margin: 0 auto;
  color: #FFFFFF;
  background-color: transparent;
  border-radius: 0px;
  border-color: white;
  border-width: 2px;
  margin-top: 50px;
}

.btn-novinki:hover{
    background-color:#FFFFFF;
}
.btn-sale {
    display: block;
    max-width: 150px;
    margin: 0 auto;
    color: #FFFFFF;
    background-color: transparent;
    border-radius: 0px;
    border-color: white;
    border-width: 2px;
    margin-top: 50px;
}

.btn-sale:hover{
    background-color:#FFFFFF;
}


/* catalog */

.catalog-ttl {
    margin-top: 200px;
}

.ctl {
    margin-top: 100px;
}
.itm-ttl {
    text-decoration: none;
}

.itm-ttl:hover {
    color:#474A51;
}
.product {
    position: relative;
}
.icon {
    display: none;
}

.product:hover .icon {
    display: block;
    position: absolute;
    right: 20px;
    top: 5px;
    color:#FFFFFF; 
}

.product-drop ul {
    display: flex;
    justify-content: center;
    gap: 26px;
    padding-top: 10px;
    padding-right: 40px;
    margin-bottom: 5px;
}
.product-drop ul li {
    list-style: none;
}
.product-drop p a {
    text-decoration: none;
    list-style: none;
    color:#474A51;
    margin-right: 10px;
}

.size {
    text-decoration: none;
    color:#474A51;
    font-size: 16px; 
}
.size:hover {
    background-color:#474A51;
    color: #FFFFFF;
}

 .product-drop{
    display: none;
    position: absolute;
    height: 70px;
    width:407px;
    left: 4.6px;
    bottom: 69px;
    transition: .3s;
    background-color: hsl(214, 58%, 92%, 0.3);
}

.product:hover .product-drop {
    display: block;
    box-shadow: 0px 20px 15px -5px #adb0b9;
}

.btn-catalog {
    display: block;
    max-width: 200px;
    height: 50px;
    margin: 0 auto;
    color: #43464d;
    background-color: transparent;
    border-radius: 0px;
    border-color: #43464d;
    border-width: 1px;
    margin-top: 50px;
    margin-bottom: 100px;
    font-size: 18px;
    letter-spacing: 2px;
}
.btn-catalog:hover {
    background-color: #DDE8F6;
}

/* lookbook */

.row {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}
.lookbook-text {
    margin-top: 200px;
    margin-left: 100px;
}
.lkb {
    margin-left: 100px;
}

.btn-lookbook {
    display: block;
    max-width: 170px;
    height: 50px;
    color: #43464d;
    background-color: transparent;
    border-radius: 0px;
    border-color: #43464d;
    border-width: 1px;
    font-size: 18px;
    letter-spacing: 2px;
    margin-left: 100px;
    margin-top: 50px;
}
.lookbook {
    margin-right: -6px;
}

/* footer */

.ft-container {
    margin-top: 200px;
    height: 556px;
}
.footer {
    margin-left: 100px;
    margin-top: 100px;
}
.footer ul li {
    list-style: none;
    text-decoration: none;
}
.footer img {
    margin-left: 30px
}
.footer-span {
    font-size: 26px;
}